<?xml version='1.0' encoding='utf-8'?>
<widget id="WaffleCodez.appthingy" version="0.1.0">
  <name>App Thingy</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="73138329+WaffleCodez@users.noreply.github.com">
    WaffleCodez
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
